Android/IAPMsCpp/bin/
Android/.metadata/
Android/IAPTEST/bin/
AndroidTest/
Android/.metadata/.lock
Android/.metadata/.log
Android/.metadata/version.ini
Android/.metadata/.mylyn/repositories.xml.zip
Android/.metadata/.plugins/com.android.ide.eclipse.adt/palette-preview-r16b-21-apptheme-37wvganexusone/preview.properties
Android/.metadata/.plugins/com.android.ide.eclipse.adt/palette-preview-r16b-21-apptheme-37wvganexusone/Switch.png
Android/.metadata/.plugins/org.eclipse.cdt.core/.log
Android/.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
Android/.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
Android/.metadata/.plugins/org.eclipse.core.resources/.history/10/40233dc0f3e200141f398a8d28e274a5
Android/.metadata/.plugins/org.eclipse.core.resources/.history/13/d0bc9713efe200141f398a8d28e274a5
Android/.metadata/.plugins/org.eclipse.core.resources/.history/1c/202d3957f4e200141f398a8d28e274a5
Android/.metadata/.plugins/org.eclipse.core.resources/.history/1e/402975d7fee100141319c2b1653cf0d4
Android/.metadata/.plugins/org.eclipse.core.resources/.history/2/40cf41c0d4e200141f398a8d28e274a5
Android/.metadata/.plugins/org.eclipse.core.resources/.history/28/90968784f9e200141f398a8d28e274a5
Android/.metadata/.plugins/org.eclipse.core.resources/.history/29/d0725c11efe200141f398a8d28e274a5
Android/.metadata/.plugins/org.eclipse.core.resources/.history/2e/40b49d05efe200141f398a8d28e274a5
Android/.metadata/.plugins/org.eclipse.core.resources/.history/2f/40e11387fde100141319c2b1653cf0d4
Android/.metadata/.plugins/org.eclipse.core.resources/.history/31/d0b2859ef3e200141f398a8d28e274a5
Android/.metadata/.plugins/org.eclipse.core.resources/.history/35/90cecae52be300141f398a8d28e274a5
Android/.metadata/.plugins/org.eclipse.core.resources/.history/3f/e06fc33601e200141319c2b1653cf0d4
Android/.metadata/.plugins/org.eclipse.core.resources/.history/40/b042d71637e30014153eca86bc718b54
Android/.metadata/.plugins/org.eclipse.core.resources/.history/44/f066bcdcffe200141f398a8d28e274a5
Android/.metadata/.plugins/org.eclipse.core.resources/.history/48/f0ab3355fee100141319c2b1653cf0d4
Android/.metadata/.plugins/org.eclipse.core.resources/.history/49/30f069f700e200141319c2b1653cf0d4
Android/.metadata/.plugins/org.eclipse.core.resources/.history/4a/b06d1153fae200141f398a8d28e274a5
Android/.metadata/.plugins/org.eclipse.core.resources/.history/4c/e0671587fde100141319c2b1653cf0d4
Android/.metadata/.plugins/org.eclipse.core.resources/.history/55/b0e3c683fee100141319c2b1653cf0d4
Android/.metadata/.plugins/org.eclipse.core.resources/.history/56/100cc155f4e200141f398a8d28e274a5
Android/.metadata/.plugins/org.eclipse.core.resources/.history/56/10e5d454f9e200141f398a8d28e274a5
Android/.metadata/.plugins/org.eclipse.core.resources/.history/58/f061112801e200141319c2b1653cf0d4
Android/.metadata/.plugins/org.eclipse.core.resources/.history/62/6068c3d8f4e200141f398a8d28e274a5
Android/.metadata/.plugins/org.eclipse.core.resources/.history/64/007c695933e300141f398a8d28e274a5
Android/.metadata/.plugins/org.eclipse.core.resources/.history/69/e06725b4f6e200141f398a8d28e274a5
Android/.metadata/.plugins/org.eclipse.core.resources/.history/6a/d06c02a6f1e200141f398a8d28e274a5
Android/.metadata/.plugins/org.eclipse.core.resources/.history/6e/c0dc414639e30014153eca86bc718b54
Android/.metadata/.plugins/org.eclipse.core.resources/.history/79/90caf6c22be300141f398a8d28e274a5
Android/.metadata/.plugins/org.eclipse.core.resources/.history/7f/b05b8ec2f2e200141f398a8d28e274a5
Android/.metadata/.plugins/org.eclipse.core.resources/.history/8e/c00ec93ffae200141f398a8d28e274a5
Android/.metadata/.plugins/org.eclipse.core.resources/.history/92/504e7755f3e200141f398a8d28e274a5
Android/.metadata/.plugins/org.eclipse.core.resources/.history/9c/90c0f45635e30014153eca86bc718b54
Android/.metadata/.plugins/org.eclipse.core.resources/.history/a/c012f8d3f6e200141f398a8d28e274a5
Android/.metadata/.plugins/org.eclipse.core.resources/.history/ab/00b0ed1032e300141f398a8d28e274a5
Android/.metadata/.plugins/org.eclipse.core.resources/.history/b2/a0e46b15ffe100141319c2b1653cf0d4
Android/.metadata/.plugins/org.eclipse.core.resources/.history/b5/609ddd9736e30014153eca86bc718b54
Android/.metadata/.plugins/org.eclipse.core.resources/.history/bd/f0d2d1b838e30014153eca86bc718b54
Android/.metadata/.plugins/org.eclipse.core.resources/.history/be/609c1da3f1e200141f398a8d28e274a5
Android/.metadata/.plugins/org.eclipse.core.resources/.history/bf/f0d58132fee100141319c2b1653cf0d4
Android/.metadata/.plugins/org.eclipse.core.resources/.history/c1/2051fd5c33e300141f398a8d28e274a5
Android/.metadata/.plugins/org.eclipse.core.resources/.history/c4/d0fb320500e300141f398a8d28e274a5
Android/.metadata/.plugins/org.eclipse.core.resources/.history/c6/70ff8ea037e30014153eca86bc718b54
Android/.metadata/.plugins/org.eclipse.core.resources/.history/cd/c08d7f7afee100141319c2b1653cf0d4
Android/.metadata/.plugins/org.eclipse.core.resources/.history/d6/0034949bfae200141f398a8d28e274a5
Android/.metadata/.plugins/org.eclipse.core.resources/.history/df/a05eefb000e300141f398a8d28e274a5
Android/.metadata/.plugins/org.eclipse.core.resources/.history/e1/40c0722c01e200141319c2b1653cf0d4
Android/.metadata/.plugins/org.eclipse.core.resources/.history/e1/40e75585f2e200141f398a8d28e274a5
Android/.metadata/.plugins/org.eclipse.core.resources/.history/ef/a07de60af5e200141f398a8d28e274a5
Android/.metadata/.plugins/org.eclipse.core.resources/.history/f3/d0dd2ff5f4e200141f398a8d28e274a5
Android/.metadata/.plugins/org.eclipse.core.resources/.history/fd/f081fbd9eee200141f398a8d28e274a5
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.jdt.core.external.folders/.location
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.markers
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/1/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/11/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/12/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/14/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/16/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/17/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/1c/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/1d/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/1f/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/30/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/32/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/38/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/3a/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/3e/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/4/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/44/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/47/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/48/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/49/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/4a/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/5/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/50/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/54/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/57/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/6/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/62/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/63/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/68/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/6b/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/6d/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/71/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/74/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/79/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/7b/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/7f/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/81/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/86/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/8a/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/8e/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/91/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/93/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/9f/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/a/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/a9/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/b/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/b2/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/b4/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/b7/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/ba/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/c/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/c1/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/c2/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/c3/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/c7/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/cb/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/cd/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/ce/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/d6/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/d8/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/da/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/de/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/df/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/e/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/eb/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/ed/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/ee/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/f1/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/f3/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/f4/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/f7/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/f8/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/fc/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/fd/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.indexes/a0/fe/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/org.eclipse.jdt.core/state.dat
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/IAPMsCpp/.markers
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/IAPMsCpp/.indexes/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/IAPMsCpp/.indexes/7/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/IAPMsCpp/.indexes/a0/de/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/IAPMsCpp/.indexes/a0/eb/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/IAPMsCpp/.indexes/a0/ee/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/IAPMsCpp/.indexes/e4/81/aa/58/history.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/IAPMsCpp/org.eclipse.jdt.core/state.dat
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/IAPTEST/.markers
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/IAPTEST/.indexes/history.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/IAPTEST/.indexes/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/IAPTEST/.indexes/a0/5f/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/IAPTEST/.indexes/a0/8a/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/IAPTEST/.indexes/a0/d6/history.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/IAPTEST/.indexes/a0/d6/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/IAPTEST/.indexes/a0/de/history.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/IAPTEST/.indexes/a0/de/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/IAPTEST/.indexes/a0/eb/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/IAPTEST/.indexes/a0/ee/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/IAPTEST/.indexes/e4/81/aa/ea/history.index
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/IAPTEST/org.eclipse.jdt.core/state.dat
Android/.metadata/.plugins/org.eclipse.core.resources/.root/6.tree
Android/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
Android/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
Android/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
Android/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
Android/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.android.ide.eclipse.adt.prefs
Android/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.android.ide.eclipse.ddms.prefs
Android/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.debug.core.prefs
Android/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
Android/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
Android/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
Android/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
Android/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
Android/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
Android/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
Android/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
Android/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
Android/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
Android/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.java.ui.prefs
Android/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
Android/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
Android/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.api.tools.prefs
Android/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
Android/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
Android/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
Android/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
Android/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.browser.prefs
Android/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
Android/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
Android/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
Android/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
Android/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
Android/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.sse.ui.prefs
Android/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.ws.service.policy.prefs
Android/.metadata/.plugins/org.eclipse.debug.core/.launches/IAPTEST.launch
Android/.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
Android/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
Android/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Android/.metadata/.plugins/org.eclipse.jdt.core/1270315800.index
Android/.metadata/.plugins/org.eclipse.jdt.core/2338566289.index
Android/.metadata/.plugins/org.eclipse.jdt.core/2549263292.index
Android/.metadata/.plugins/org.eclipse.jdt.core/2795426065.index
Android/.metadata/.plugins/org.eclipse.jdt.core/2808006047.index
Android/.metadata/.plugins/org.eclipse.jdt.core/2902541863.index
Android/.metadata/.plugins/org.eclipse.jdt.core/3077463801.index
Android/.metadata/.plugins/org.eclipse.jdt.core/3416398954.index
Android/.metadata/.plugins/org.eclipse.jdt.core/3646217311.index
Android/.metadata/.plugins/org.eclipse.jdt.core/452680899.index
Android/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
Android/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
Android/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
Android/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
Android/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
Android/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
Android/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
Android/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
Android/.metadata/.plugins/org.eclipse.jdt.core/.org.eclipse.jdt.core.external.folders/.project
Android/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
Android/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
Android/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
Android/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
Android/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
Android/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/IAPMsCpp/2015/4/16/refactorings.history
Android/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/IAPMsCpp/2015/4/16/refactorings.index
Android/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
Android/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.5.1.20150109-1820.xml
Android/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
Android/.metadata/.plugins/org.eclipse.rse.core/.log
Android/.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
Android/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.yeh-chis-macbook-pro_525444/node.properties
Android/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.yeh-chis-macbook-pro_525444/FP.local.files_0/node.properties
Android/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.yeh-chis-macbook-pro_525444/H.local_16/node.properties
Android/.metadata/.plugins/org.eclipse.rse.ui/.log
Android/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
Android/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
Android/.metadata/.plugins/org.eclipse.ui.workbench.texteditor/dialog_settings.xml
Android/.metadata/.plugins/org.eclipse.wst.common.snippets/hidden.xml
Android/.metadata/.plugins/org.eclipse.wst.common.snippets/user.xml
Android/.metadata/.plugins/org.eclipse.wst.internet.cache/cache.xml
Android/.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
Android/.metadata/.plugins/org.eclipse.wst.jsdt.ui/OpenTypeHistory.xml
Android/.metadata/.plugins/org.eclipse.wst.jsdt.ui/QualifiedTypeNameHistory.xml
Android/.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
Android/.metadata/.plugins/org.eclipse.wst.sse.ui/dialog_settings.xml
Android/.metadata/.plugins/org.eclipse.wst.xml.core/default_catalog.xml
Android/.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
Android/.metadata/.plugins/org.eclipse.core.resources/6.snap
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.jdt.core.external.folders/.markers.snap
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.jdt.core.external.folders/.syncinfo.snap
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.markers.snap
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/appcompat_v7/.syncinfo.snap
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/IAPMsCpp/.markers.snap
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/IAPMsCpp/.syncinfo.snap
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/IAPTEST/.markers.snap
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/IAPTEST/.syncinfo.snap
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
Android/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
Android/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
