Unity/IAPPlugin/Library
Unity/IAPPlugin/Temp/
Android/IAPMsCpp/bin/
Android/.metadata/
Android/IAPTEST/bin/
AndroidTest/
Android/.metadata/.lock
Android/.metadata/.log
Android/.metadata/version.ini
Android/.metadata/.mylyn/repositories.xml.zip
Android/.metadata/.plugins/
org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
